<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .predict-button {
            background-color:orangered;
            color: white;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
    <div style="background-color: orangered; width:100%;height:95vh;">
        <h5 style="text-align: left;color:whitesmoke">SMART BRIDGE</h5>
        <h1 style="text-align:center;color:whitesmoke;margin: 150px;font-size:50px;font-family:'Times New Roman', Times, serif">AUTISM SCREENING CLASSIFICATION</h1><br><br>
        <br><br>
        <br><br>
        <br><br>
        {{ prediction }}
        <br><br>
    
        <a href="/" class="predict-button">Back to home</a>
    </div>
</head>
<body>
</body
</html>