<head>
    <header>
    <h2> ENTER YOUR VALUES</h2>
    </header>
    <body>
        <form action="/predict" method="post">
        <input type="text"  name="A1_score"required><br><br>
        <input type="text"  name="A2_score"required><br><br>
        <input type="text"  name="A3_score"required><br><br>
        <input type="text"  name="A4_score"required><br><br>
        <input type="text"  name="A5_score"required><br><br>
        <input type="text"  name="A6_score"required><br><br>
        <input type="text"  name="A7_score"required><br><br>
        <input type="text"  name="A8_score"required><br><br>
        <input type="text"  name="A9_score"required><br><br>
        <input type="text"  name="A10_score"required><br><br>
        <input type="text"  name="age"required><br><br>
        <input type="text"  name="result"required><br><br>
        <input type="text"  name="m"required><br><br>
        <input type="text"  name="Had_jaundice_yes"required><br><br>
        <input type="text"  name="Rel_had_yes"required><br><br>
        <input type="submit" style="background-color: cadetblue;"></input>
    </form>
    </body>